extends partials/templates/template.pug

block content
  +b.pages-header
    .container
      .row
        +e.H1.title О компании
  +b.breadcrumbs
    .container
      .row
        +e.wrapper
          i.fa.fa-map-marker
          +e.SPAN.text Вы здесь:
          +e.A.link(href="index.html") Главная
          +e.SPAN.this О компании
  include partials/components/page-about-us.pug