extends partials/templates/template.pug

block content
    include partials/components/promo-slider.pug
    include partials/components/stripe--blue.pug
    include partials/components/promo.pug
    include partials/components/features.pug
    include partials/components/interactive.pug
    include partials/components/stripe--yellow.pug
    include partials/components/news.pug
    include partials/components/reviews.pug
    include partials/components/stripe--logo.pug

