extends partials/templates/template.pug

block content
  +b.pages-header
    .container
      .row
        +e.H1.title Стандартная старница
  +b.breadcrumbs
    .container
      .row
        +e.wrapper
          i.fa.fa-map-marker
          +e.SPAN.text Вы здесь:
          +e.A.link(href="index.html") Главная
          +e.A.link(href="services.html") Услуги
          +e.SPAN.this Стандартная старница
  include partials/components/page.pug