extends partials/templates/template.pug

block content
  +b.pages-header
    .container
      .row
        +e.H1.title FAQ
  +b.breadcrumbs
    .container
      .row
        +e.wrapper
          i.fa.fa-map-marker
          +e.SPAN.text Вы здесь:
          +e.A.link(href="index.html") Главная
          +e.A.link(href="about-us.html") О компании
          +e.SPAN.this FAQ
  include partials/components/page-reviews.pug