extends partials/templates/template.pug

block content
  +b.pages-header
    .container
      .row
        +e.H1.title Для вас работают
  +b.breadcrumbs
    .container
      .row
        +e.wrapper
          i.fa.fa-map-marker
          +e.SPAN.text Вы здесь:
          +e.A.link(href="index.html") Главная
          +e.A.link(href="iabout-us.html") О компании
          +e.SPAN.this Для вас работают
  include partials/components/staff.pug