.form-inner {
  background-color: #fff;
  text-align: center;
  padding: 20px 0 30px;
  .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tabs {
    width: 66.6%;
  }

  &__tabs-list {
    text-align: left;
    margin: 30px 0;
    padding: 0 5px;
    list-style: none;
    background: #21242b;
  }

  &__tabs-link {
    display: inline-block;

    a {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    border-top: 5px solid transparent;
    }
  }

  &__tab-item {
    display: none;
  }

  &__tabs-content {
    text-align: left;
  }
}

.form-inner__tab-item.active  {
  display: block;
}

.form-inner__tabs-link.active {
  a {
    background-color: #fff;
    color: #000;
    border-top: 5px solid $blue;
  }
}

