.nav {
background: -moz-linear-gradient(left, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 15%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 15%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    left: 0;
    position: absolute;
    right: 0;
    margin-top: -48px;
    box-shadow: none;
    z-index: 99;
    @include mq($from:xs, $until:xl){
      background-color: #fff;
      }

      .container {
        position: relative;
      }

    .row{
      background-color: $white;
      border-left: 5px solid $blue;
      justify-content: space-between;
      align-items: center;
      position: relative;
    @include mq($from:xs, $until:xl){
      border-left: none;
      }
  }
      &__link--active {
       &:after {
        background-color: $blue;
        position: absolute;
        bottom: 0;
       left: 0px;
       right: 0;
       height: 5px;
       content: "";
    width: 100%;
    @include mq($from:xs, $until:xl){
      display: none;
      }
       }
      }

    &__logo {
      width: 30%;
      margin: 25px 0;
      padding: 0 25px;
    @include mq($from:md, $until:xl){
      width: 50%;
      }
    @include mq($from:xs, $until:md){
      width: 75%;
      }
    }

    &__menu {
      width: 50%;
    @include mq($from:xs, $until:md){
      width: 100%;
    }
  }

    &__item {
      display: inline-block;
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      padding-bottom: 40px;
      padding-top: 40px;
      @include mq($from:xs, $until:xl) {
        display: block;
        width: 100%;
        color: #333;
        line-height: 56px;
        margin-right: 56px;
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
      }


      a {
        color: $black;
        transition: 0.2s;
        &:hover {
          color: $blue;
        }
      }
    }


  &__hamburger{
    display: none;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: $blue;
    @include mq($from:sm) {
      top: 25px;
    }
    i{
      color: $white;
    }
    @include mq($from:xs, $until:xl){
      display: block;
    }
  }

  &__subhamburger-1,
  &__subhamburger-2{
    position: absolute;
    display: none;
    width: 56px;
    height: 56px;
    border-left: 1px solid #e6e6e6;
    right: 0;
    top: 0;
    z-index: 99;
    cursor: pointer;
    @include mq($from:xs, $until:xl){
      display: block;
    }
    &:after {
    content: "";
    width: 14px;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -1px;
    }
    &:before {
    content: "";
    width: 2px;
    height: 14px;
    background: #ccc;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -7px;
    }
  }

    &__list {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin: 0;
      @include mq($from:xs, $until:xl){
      border-top: 1px solid #e6e6e6;
      display: none;
      position: absolute;
      top: 75px;
      width: 100%;
      left: 0;
      background-color: #fff;
      z-index: 1000;
    }
    @include mq($from:sm, $until:md) {
      top: 105px;
    }
    @include mq($from:md, $until:xl) {
      top: 110px;
    }
  }

    &__sub-menu {
    position: absolute;
    width: 250px;
    padding: 0;
    margin: 0;
    visibility: hidden;
    left: -5px;
    top: 150%;
    opacity: 0;
    background-color: $blue;
    list-style-type: none;
    transition: 0.5s;
    @include mq($from:xs, $until:xl){
      display: none;
      border-top: 1px solid #e6e6e6;
      margin-left: 20px;
      display: none;
      padding: 0;
      background-color: #fff;
      visibility: visible;
      position: static;
      width: 100%;
      color: #000;
      opacity: 1;
    }

    li {
      transition: 0.5s;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      @include mq($from:xs, $until:xl){
        display: block;
        visibility: visible;
        opacity: 1;
        width: 100%;
        color: #333;
        line-height: 56px;
        margin-right: 56px;
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
        color: #000;
      }
    }

    a{
      font-family: $font-family-roboto;
      display: block;
          color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: none;
      @include mq($from:xs, $until:xl){
      color: #000;
      padding: 0;
      }

    &:hover {
      background-color: #000;
      color: #fff;
      @include mq($from:xs, $until:xl){
         background-color: transparent;
         color: #000;
       }
      }
     }
    }
  }

.search {
  @include mq($from:xs, $until:xl){
    display: none;
  }

  &__form {
    position: absolute;
    width: 300px;
    display: none;
    top: 102px;
    right: -35px;
  }
  &__input {
    background: rgba(255, 255, 255, 1);
    border: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 45px;
    width: 90%;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 2px;
    outline: none;
  }

  &__arrow {
background-image: url(../img/arrow.svg);
    background-color: transparent;
    width: 24px;
    height: 11px;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    right: 13%;
    top: 17px;
    -webkit-opacity: 0.3;
    -khtml-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
    &:hover {
      opacity: .8;
    }
  }
}

.nav__item:hover .nav__sub-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    top: 101px;
    cursor: pointer;
      @include mq($from:xs, $until:xl){
display: none;
      }
}

.totop {
text-indent: -9999px;
    width: 40px;
    height: 40px;
    outline: none;
    position: fixed;
    z-index: 99;
    right: 25px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    transition: .3s;
        border-radius: 2px;
    &:hover  {
      background-color: $blue;
    }
  &:after {
    content: "\f077";
    position: absolute;
    color: #fff;
    text-indent: 0;
    font-family: 'FontAwesome';
    left: 13px;
    top: 8px;
    font-size: 14px;
  }
}

.hamburger-active {
  background-color: #000;
}

.subhamburger-active {
  &:before {
    display: none;
  }
}