.page-reviews {
  flex: 0 0 70%;
  position: relative;
    min-height: 1px;
    padding-right: .625rem;
    padding-left: .625rem;
    overflow: hidden;
  @include mq($from:xs, $until:md){
    flex: 0 0 100%;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 15px;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit:cover;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0;
    span {
      color: $blue;
    }

    &:after {
    content: "";
    position: relative;
    display: inline-block;
    background: url(../img/bg-heading.svg);
    min-width: 45%;
    margin-left: 25px;
    height: 20px;
    }
  }
  &__text {
    color: #666e70;
    font-size: 15px;
    line-height: 1.8;
    font-family: $font-family;
    padding-bottom: 35px;
  }

  &__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  &__column50 {
    width: 50%;
  @include mq($from:xs, $until:xl){
    width: 100%;
    }
  }

  .reviews {
    margin-bottom: 30px;
  }
}