.pages-header {
  min-height: 215px;
  background-color: $yellow;
  color: $white;
  .row {
    margin: 0;
  }

  &__title {
    font-size: 36px;
    padding-top: 90px;
    font-family: $font-family-roboto;
    font-weight: bold;
  }
}

.breadcrumbs {
  background-color: #fff;
  padding: 0 15px;
  .row {
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  }

  &__wrapper {
    padding: 15px 0;
    position: relative;
    color: #666e70;
    font-size: 15px;
    font-family: $font-family;
  }
   i {
    font-size: 28px;
    color: $yellow;
    position: absolute;
     top: 13px;
   }
   &__text {
    padding-left: 25px;
    padding-right: 7px;
   }

   &__link {
     color: $blue;
     transition: .3s;
     padding-right: 20px;
     position: relative;
     &:hover {
      color: #666e70;
    }
    &:after {
      content: '/';
      color: #ccc;
      right: 5px;
      position: absolute;
    }
  }
}