.stripe--yellow {
  background-color: $yellow;
}

.stripe--blue {
  background-color: $blue;
}


.stripe {
  padding: 12px 0;
  .row {
    justify-content: space-between;
    align-items: center;
      @include mq($from:xs, $until:md){
      flex-direction: column;
    }
  }

  &__text {
    color: $white;
    font-weight: $bold;
  }

  &__btn {
    color: $white;
    font-weight: $bold;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    background-color: #21242b;
    text-transform: uppercase;
    font-family: $font-family;
    @include transition;

    &:hover {
      background-color: $blue;
    }
  }
}

.stripe-logo {
  background-color: $blue;
  padding: 10px 0;
  .row {
    justify-content: space-between;
  }

  &__block {
    min-width: 16%;
    padding: 10px 7px;
  }

  &__link {
    &:hover {
      opacity: .7;
    }
  }
}

.map {
  width: 100%;
  height: 450px;
}