mixin promoItem(img, title, subtitle, text)
  +e.box
    +e.item(itemscope itemtype="http://schema.org/Service")
      +e.img
        img(itemprop="logo" src= "img/" + img alt)
      +e.header
        +e.P.title(itemprop="serviceType") #{title}
        +e.P.subtitle(itemprop="offers") #{subtitle}
      +e.contant
        +e.P.text #{text}
        +e.A.btn(href="page.html") Continue
          i.fa.fa-chevron-right


