mixin promoItem(img, title, subtitle, text)
  +e.box
    +e.item
      +e.img
        img(src= "img/" + img alt)
      +e.header
        +e.P.title #{title}
        +e.P.subtitle #{subtitle}
      +e.contant
        +e.P.text #{text}
        +e.A.btn(href="#") Continue
          i.fa.fa-chevron-right


