mixin promoItem(img, title, subtitle, text)
  +e.box
    +e.item
      +e.img
        img(src= "img/" + img alt)
      +e.P.title #{title}
      +e.P.sub-title #{subtitle}
      +e.P.text #{text}
      +e.A.btn(href="#") Continue
        i.fa.fa-chevron-right


