mixin reviewsItem(img,name,text)
  +b.reviews(itemscope itemtype="http://schema.org/Review")
    +e.contant
      +e.box(itemprop="itemReviewed")
        +e.img(itemprop="reviewRating")
          img(src= "img/" + img alt)
        +e.H3.name(itemprop="author") #{name}
        +e.P.text(itemprop="reviewBody") #{text}