mixin servicesItem(img,title,text)
  +e.wrapper
    .row
      .col-xs-12.col-sm-6
        +e.img
          img(src= "img/" + img alt)
      .col-xs-12.col-sm-6
        +e.inner
          +e.H3.name #{title}
          +e.P.text #{text}
          +e.A.btn(href="page.html") Читать далее
            i.fa.fa-chevron-right