mixin staffItem(img, name, post, text)
  +e.box(itemscope itemtype="http://schema.org/Person")
    +e.img
      img(itemprop="image" src= "img/" + img alt)
    +e.body
      +e.P.nam(itemprop="name") #{name}
      +e.P.subtitle(itemprop="jobTitle") #{post}
      +e.P.text #{text}
    +e.socials
      +e.A.btn(href="facebook.com" target="_blank" itemprop="url")
        i.fa.fa-facebook
      +e.A.btn(href="facebook.com" target="_blank" itemprop="url")
        i.fa.fa-twitter
      +e.A.btn(href="facebook.com" target="_blank" itemprop="url")
        i.fa.fa-linkedin
      +e.A.btn(href="facebook.com" target="_blank" itemprop="url")
        i.fa.fa-google-plus