include ../abstracts/bemto/bemto.pug

+b.white-bgr
  .container
    .row
      +b.SECTION.history
        +e.img
          img(src="img/10.jpg" alt="about1")
        +e.H2.title Company
          span history.
        +e.P.text Canava Transport headquartered in NewYork, US, has been providing truckload services for over 25 years. Initially founded as a traditional truckload carrier, Canava has diversified itself as a true transportation solutions provider and technology innovator, committed to delivering unique, high-value and customized solutions to its customers.
        +e.wrapper
          +e.H3.sub-title <span>1988</span> Start in New York, US
          +e.P.story Canava was founded in September of 1988 by John Doe as a six truck, twelve trailer operation in NewYork, US, just outside of Pittsburgh. Prior to starting Canava, John Doe was introduced to trucking and developed his passion for the industry, working for less-than-truckload (LTL) providers Hammel’s Express and PITT OHIO (formerly PITT OHIO EXPRESS) from 1976 through 1988. When he left to start his own company, he took with him the values of hard work and dedication to service as the founding principles of Canava Transport.
        +e.wrapper
          +e.H3.sub-title <span>1999</span> Expanded its core territory
          +e.P.story Throughout the mid to late 1990´s, Canava expanded its core territory to cover the entire Mid-Atlantic region, growing both organically and through acquisition; as well as offering its customers over-the-road truckload and volume LTL services. By 1999, Canava was operating out of 10 terminals and had finished completion of its current corporate headquarters in Chicago, US. It was at this time Canava broadened its services by unveiling a non-asset based Logistics division to offer customers 50 state capability through a strategic partner network.
        +e.wrapper
          +e.H3.sub-title <span>2005</span> Merge with privately held LTL carrier
          +e.P.story In 2005, Canava announced its intentions to merge with privately held LTL carrier, PITT OHIO, to offer both customer bases an unmatched network of asset and non-asset based services for both LTL and Truckload. The customer centric philosophies that brought the companies together serves as a backbone of the partnership, which continues to evolve today.
        +e.wrapper
          +e.H3.sub-title <span>2007</span> Introduced on-board computing systems
          +e.P.story Understanding the critical link in the customer supply chain, Canava introduced on-board computing systems in each of its tractors in late 2007. This breakthrough enabled Canava customers the ability to track and trace their freight in real time on the company website; as well as providing up to the minute critical data events via email and electronic data interchange (EDI).
        +e.wrapper--yellow
          +e.H3.sub-title <span>2016</span> Present
          +e.P.story Today, Canava operates more than 350 tractors and 1300 trailers in its 14 terminal network throughout the Mid-Atlantic region. Our hybrid approach to Truckload transportation and Logistics services provide our customers the flexibility in their supply chain to meet even their toughest challenges. Canava’s customer centric philosophy is centered around delivering high-value, cost effective transportation solutions that are truly customized to your needs.
      +b.ASIDE.news-meta
        +e.wrapper--black
          +e.A.servises-title(href="page.html") Сертификация
          +e.UL.servises-list
            +e.LI.servises-item
              a(href="page.html") — Сертификат ТР ТС
            +e.LI.servises-item
              a(href="page.html") — Декларация ТР ТС
            +e.LI.servises-item
              a(href="page.html") — Обязательная сертификация ГОСТ Р
            +e.LI.servises-item
              a(href="page.html") — Добровольная сертификация ГОСТ Р
          +e.A.servises-title(href="page.html") Разработка технической документации
          +e.A.servises-title(href="page.html") Роспотребнадзор
        +e.wrapper
          +e.H2.title Последние новости
          +e.A.sub-title(href="news.html") Новость 1
          +e.P.time 25.03.2016
          +e.A.sub-title(href="news.html") Seafield logistics goes into administration
          +e.P.time 25.03.2016
          +e.A.sub-title(href="news.html") Transport managers grow scarce
          +e.P.time 25.03.2016
        +e.wrapper--blue
          +e.H3.question How can we help you?
          +e.P.text Our customer service standards provide information on how we will handle your enquiry. There is also compliments and complaints information to help you when you lodge feedback with us.
          +e.A.btn(href="contact.html") contact us
            .fa.fa-chevron-right

