include ../abstracts/mixins/_contact-item.pug
include ../abstracts/bemto/bemto.pug

//Contacts

+b.SECTION.contact
  .container
    .row
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("Headquarters",
        "",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
      .col-xs-12.col-sm-6.col-lg-3
        +contactItem("canava",
        "england",
        "Global Transport, New York",
        "66 Nicholson St. New York US",
        "tel:012222989888",
        "+012 222 989888",
        "tel:012222989899",
        "+012 222 989899",
        "mailto:info@yourdomain.com",
        "info@yourdomain.com")
    .row
      +e.map
    +e.hours-inner
      +e.H2.time Opening
        span hours
      +e.P.text Find out opening hours and information for Canava Transport. Thank you!
      +e.UL.list
        +e.LI.item Monday:
          span 08:00 a.m – 06:00 p.m
        +e.LI.item  Tuesday:
          span 08:00 a.m – 06:00 p.m
        +e.LI.item Wednesday:
          span 08:00 a.m – 06:00 p.m
        +e.LI.item Thursday:
          span 08:00 a.m – 06:00 p.m
        +e.LI.item Friday:
          span 08:00 a.m – 06:00 p.m
        +e.LI.item Saturday — Sunday:
          span Closed
    .row
      +b.map(id="map")

