include ../abstracts/bemto/bemto.pug

+b.white-bgr
  .container
    .row
      +b.SECTION.faq
        +e.img
          img(src="img/faq-1.jpg" alt="faq-1")
        +e.H2.title Frequently Asked
          span history.
        +e.P.text What follows are some of the most frequently asked questions about Canava Transport. To learn more, send us an email.
        +e.accordion
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Why do I need to provide a copy of the shipper's invoice?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close What if I discovered concealed damages after delivery?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri

        +e.wrapper
      +b.ASIDE.news-meta
        +e.wrapper--black
          +e.A.servises-title(href="#") Сертификация
          +e.UL.servises-list
            +e.LI.servises-item
              a(href="#") — Сертификат ТР ТС
            +e.LI.servises-item
              a(href="#") — Декларация ТР ТС
            +e.LI.servises-item
              a(href="#") — Обязательная сертификация ГОСТ Р
            +e.LI.servises-item
              a(href="#") — Добровольная сертификация ГОСТ Р
          +e.A.servises-title(href="#") Разработка технической документации
          +e.A.servises-title(href="#") Роспотребнадзор
        +e.wrapper
          +e.H2.title Последние новости
          +e.A.sub-title(href="#") Новость 1
          +e.P.time 25.03.2016
          +e.A.sub-title(href="#") Seafield logistics goes into administration
          +e.P.time 25.03.2016
          +e.A.sub-title(href="#") Transport managers grow scarce
          +e.P.time 25.03.2016
        +e.wrapper--blue
          +e.H3.question How can we help you?
          +e.P.text Our customer service standards provide information on how we will handle your enquiry. There is also compliments and complaints information to help you when you lodge feedback with us.
          +e.A.btn(href="#") contact us
            .fa.fa-chevron-right
