include ../abstracts/bemto/bemto.pug

//Features
+b.SECTION.features
  .container
    +e.H2.title
      +e.title-wrapper Что мы
       span предлагаем.
    .row
      .col-xs-12.col-md-6.col-lg-4
        +e.item
          .row
            .col-xs-2
              +e.box
              i.fa.fa-battery-full
            .col-xs-10
              +e.H3.sub-title Предложение 1
              +e.P.text Текст для предложения 1. Мы предлагаем самое качественное и лучшее.
      .col-xs-12.col-md-6.col-lg-4
        +e.item
          .row
            .col-xs-2
              +e.box
              i.fa.fa-truck
            .col-xs-10
              +e.H3.sub-title Предложение 2
              +e.P.text Текст для предложения 2. Мы предлагаем самое качественное и лучшее.
      .col-xs-12.col-md-6.col-lg-4
        +e.item
          .row
            .col-xs-2
              +e.box
              i.fa.fa-cube
            .col-xs-10
              +e.H3.sub-title Предложение 3
              +e.P.text Текст для предложения 3. Мы предлагаем самое качественное и лучшее.
      .col-xs-12.col-md-6.col-lg-4
        +e.item
          .row
            .col-xs-2
              +e.box
              i.fa.fa-mail-forward
            .col-xs-10
              +e.H3.sub-title Предложение 4
              +e.P.text Текст для предложения 4. Мы предлагаем самое качественное и лучшее.
      .col-xs-12.col-md-6.col-lg-4
        +e.item
          .row
            .col-xs-2
              +e.box
              i.fa.fa-plane
            .col-xs-10
              +e.H3.sub-title Предложение 5
              +e.P.text Текст для предложения 5. Мы предлагаем самое качественное и лучшее.
      .col-xs-12.col-md-6.col-lg-4
        +e.item
          .row
            .col-xs-2
              +e.box
              i.fa.fa-globe
            .col-xs-10
              +e.H3.sub-title Предложение 6
              +e.P.text Текст для предложения 6. Мы предлагаем самое качественное и лучшее.