include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug

//Form

+b.form-inner
  .container
    +e.tabs
      +e.UL.tabs-list
        +e.LI.tabs-link.active
          a Заказать сертификат
      +e.tabs-content
        +e.tab-item.active(id="tab01")
          +form(application)



// Footer
+b.FOOTER.footer
  .container
    .row.row-border
      .col-xs-12.col-lg-3
        +e.H2.title Новый слоган. Гип-гип ура =)
      .col-xs-12.col-md-4.col-lg-3
        +e.H3.subtitle Последние новости
        +e.A.news(href="page.html") Новость 1
        +e.P.time 25.03.2016
        +e.A.news(href="page.html") Seafield logistics goes into administration
        +e.P.time 25.03.2016
      .col-xs-12.col-md-4.col-lg-3
        +e.H3.subtitle Информация
        .row
          .col-xs-6
            +e.A.link(href="index.html") Главная
            +e.A.link(href="services.html") Услуги
            +e.A.link(href="contact.html") Контакты
          .col-xs-6
            +e.A.link(href="about-us.html") Компания
            +e.A.link(href="news.html") Новости
      .col-xs-12.col-md-4.col-lg-3
        +e.H3.subtitle Контакты
        +e.P.adress Улица Лермонтова, Москва, 154234
        +e.A.phone(href="tel:89116783455") +7 921 234-23-23
        +e.A.mail(href="mailto:support@gmal.com") manager@gmail.com
        +e.A.phone(href="tel:89116783455") +7 911 678-34-34
        +e.A.mail(href="mailto:support@gmal.com") support@gmal.com
  .container
    +b.footer-copyright
      +e.inner
        +e.P.copyright Copyright © 2016 Наш копирайт
          A(href="#") Linethemes.
      +e.inner
        +e.socials
        +e.UL.list
          +e.LI.socials-item
            a(href="twitter.com" target="_blank")
              i.fa.fa-twitter
          +e.LI.socials-item
            a(href="facbook.com" target="_blank")
              i.fa.fa-facebook-official
          +e.LI.socials-item
            a(href="instagram.com" target="_blank")
              i.fa.fa-instagram
          +e.LI.socials-item
            a(href="ru.linkedin.com" target="_blank")
              i.fa.fa-linkedin
          +e.LI.socials-item
            a(href="vk.com" target="_blank")
              i.fa.fa-vk


