include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    .row
      +e.contacts
        +e.UL.list(itemscope itemtype="http://schema.org/Organization")
          +e.LI.item
            +e.P.text Есть вопросы?
          +e.LI.item
            i.fa.fa-reply
            +e.A.email(href="mailto:support@ sres.com " temprop="email") support@sres.com
          +e.LI.item
            i.fa.fa-map-marker
            +e.P.adress(itemprop="address") ул. Байкеров, Москва
          +e.LI.item
            i.fa.fa-phone
            +e.A.phone(href="tel:+78122229899" itemprop="telephone") +7 812 222 98-99
      +e.socials
        ul
          +e.LI.socials-item
            a(href="http://twitter.com" target="_blank")
              i.fa.fa-twitter
          +e.LI.socials-item
            a(href="http://facbook.com" target="_blank")
              i.fa.fa-facebook-official
          +e.LI.socials-item
            a(href="http://instagram.com" target="_blank")
              i.fa.fa-instagram
          +e.LI.socials-item
            a(href="http://ru.linkedin.com" target="_blank")
              i.fa.fa-linkedin
          +e.LI.socials-item
            a(href="http://vk.com" target="_blank")
              i.fa.fa-vk
