include ../abstracts/bemto/bemto.pug

//Interactive
+b.SECTION.interactive
  .container
      +e.H2.title From around the corner to around the globe.
      +e.P.text We will take care of your cargo or your passenger and deliver them safe and on time.
      +e.btn-inner
        +e.A.btn-quote(href="#") Make a quote
          i.fa.fa-chevron-right
        +e.A.btn-contact(href="#") Contact Us
          i.fa.fa-chevron-right