include ../abstracts/bemto/bemto.pug

//Nav
+b.NAV.nav
  .container
    .row
      +e.logo
        a(href="index.html")
          img(src="img/logo.png")
      +e.menu
        +e.hamburger
          +b.A.hamburger(href="#")
            i.fa.fa-bars
        +e.UL.list
          +e.LI.item
            a(href="index.html") Главная
          +e.LI.item
            +e.A.link(href="about-us.html") Компания
            +e.subhamburger-1
               +b.A.subhamburger-1(href="#")
            +e.UL.sub-menu--1
              li
                a(href="about-us.html") О компании
              li
                a(href="company-history.html")  История компании
              li
                a(href="staff.html")  Для вас работают
              li
                a(href="partners.html")  Партнеры
              li
                a(href="faq.html")  FAQ
              li
                a(href="reviews.html")  Отзывы
          +e.LI.item
            +e.A.link(href="services.html") Услуги
            +e.subhamburger-2
               +b.A.subhamburger-2(href="#")
            +e.UL.sub-menu--2
              li
                a(href="page.html")  Сертификация
              li
                a(href="page.html")  Разработка технической документации
              li
                a(href="page.html")  Роспотребнадзор
          +e.LI.item
            a(href="news.html") Новости
          +e.LI.item
            a(href="contact.html") Контакты
          +e.LI.item
            +b.search
              +e.FORM.form
                +e.INPUT.input(type="text" name="Поиск" placeholder="поиск")
                +e.A.arrow(href="#")
              +e.A.icon(href="#")
                i.fa.fa-search
+b.A.totop(href="#" id="toTop")
  +e.tringle


