include ../abstracts/bemto/bemto.pug

//Nav
+b.NAV.nav
  .container
    .row
      +e.logo
        a(href="#")
          img(src="img/logo.png")
      +e.menu
        +e.UL.list
          +e.LI.item
            a(href="#") Главная
          +e.LI.item
            +e.A.link(href="about-us.html") Компания
            +e.UL.sub-menu
              li
                a(href="about-us.html") О компании
              li
                a(href="#")  История компании
              li
                a(href="#")  Для вас работают
              li
                a(href="#")  Партнеры
              li
                a(href="#")  FAQ
              li
                a(href="#")  Отзывы
          +e.LI.item
            +e.A.link(href="#") Услуги
            +e.UL.sub-menu
              li
                a(href="#")  Сертификация
              li
                a(href="#")  Разработка технической документации
              li
                a(href="#")  Роспотребнадзор
          +e.LI.item
            a(href="news.html") Новости
          +e.LI.item
            a(href="contact.html") Контакты
          +e.LI.item
            +b.search
              +e.FORM.form
                +e.INPUT.input(type='text', name='Lorem', placeholder='lorem')
              +e.A.icon(href="#")
                i.fa.fa-search
+b.A.totop(href="#" id="toTop")
  +e.tringle


