include ../abstracts/bemto/bemto.pug

+b.white-bgr
  .container
    .row
      +b.SECTION.partners
        +e.H2.title Logistic
          span partner
        +e.P.text We are your full support partner and very happy to take care of all your logistic needs. We can do more than simply take your cargo from origin to destination. We can pick it up, sort it, package it and take care of all additional processes. We can also manage all your transportation needs.
        +e.P.text You can also decide to outsource your fleet with or without your employees. By doing this you will achieve a higher efficiency and a better focus on your core business. You will have the assurance your logistic processes are in the best of hands.
        .row
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p1.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p2.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p3.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p4.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p5.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p6.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p1.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p2.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p3.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p4.png")
              +e.P.name Logistic
          .col-xs-12.col-md-4
            +e.wrapper
              img(src="img/p5.png")
              +e.P.name Logistic
        +b.partners-stripe
          .row
            +e.P.text Would you like to learn more? Call +012 222 989899
            +e.A.btn(href="contact.html") Contact
              i.fa.fa-chevron-right
      +b.ASIDE.news-meta
        +e.wrapper--black
          +e.A.servises-title(href="page.html") Сертификация
          +e.UL.servises-list
            +e.LI.servises-item
              a(href="page.html") — Сертификат ТР ТС
            +e.LI.servises-item
              a(href="page.html") — Декларация ТР ТС
            +e.LI.servises-item
              a(href="page.html") — Обязательная сертификация ГОСТ Р
            +e.LI.servises-item
              a(href="page.html") — Добровольная сертификация ГОСТ Р
          +e.A.servises-title(href="page.html") Разработка технической документации
          +e.A.servises-title(href="page.html") Роспотребнадзор
        +e.wrapper
          +e.H2.title Последние новости
          +e.A.sub-title(href="news.html") Новость 1
          +e.P.time 25.03.2016
          +e.A.sub-title(href="news.html") Seafield logistics goes into administration
          +e.P.time 25.03.2016
          +e.A.sub-title(href="news.html") Transport managers grow scarce
          +e.P.time 25.03.2016
        +e.wrapper--blue
          +e.H3.question How can we help you?
          +e.P.text Our customer service standards provide information on how we will handle your enquiry. There is also compliments and complaints information to help you when you lodge feedback with us.
          +e.A.btn(href="contact.html") contact us
            .fa.fa-chevron-right
