include ../abstracts/bemto/bemto.pug

//Promo slider
+b.promo-slider
  +e.bgr
    .container
      +e.wrapper
        +e.H1.title Standard sea freight services
        +e.P.text If low costs matter for your shipment, try our sea freight services.
        +e.btn-inner
          +e.A.more(href="page.html") Read more
            i.fa.fa-chevron-right
          +e.A.contact(href="contact.html") Contact us
            i.fa.fa-chevron-right
  +e.bgr
    .container
      +e.wrapper
        +e.H1.title International road transport
        +e.P.text The road transport industry is the backbone of strong economies and dynamic societies.
        +e.btn-inner
          +e.A.more(href="page.html") Read more
            i.fa.fa-chevron-right
          +e.A.contact(href="contact.html") Contact us
            i.fa.fa-chevron-right
  +e.bgr
    .container
      +e.wrapper
        +e.H1.title Warehousing and storage
        +e.P.text Warehouse services can be offered as a single service or combined with transportation.
        +e.btn-inner
          +e.A.more(href="page.html") Read more
            i.fa.fa-chevron-right
          +e.A.contact(href="contact.html") Contact us
            i.fa.fa-chevron-right