include ../abstracts/mixins/_promo-item.pug
include ../abstracts/bemto/bemto.pug

//Promo
+b.SECTION.promo
  .container
    .row
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("s4.jpg", "Вопрос 1", "subtitle", "testtest")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 2", "", "At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 3", "","At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 4", "","At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 5", "", "At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 6", "","At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 7", "","At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")
      .col-xs-12.col-md-6.col-lg-4
        +promoItem("about1.jpg", "Вопрос 8", "","At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today.")