include ../abstracts/mixins/_services-item.pug
include ../abstracts/bemto/bemto.pug

//Services

+b.SECTION.services
  .container
    .row
      +e.H2.title Canava transport services is a full service, freight transportation and logistics company.
      +e.P.promo-text I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
      .col-xs-12.col-md-6
        +servicesItem('8-2.jpg',
        'Логистические решения',
        'Focuses on the packaging requirements of goods in transit, in particular for items traveling overland by road or rail.')
      .col-xs-12.col-md-6
        +servicesItem('6-3.jpg',
        'Сертификация качества',
        'When it comes to multimodal transport services, Canava Transport has connections you can trust.')
      .col-xs-12.col-md-6
        +servicesItem('5-3.jpg',
        'Категория 3',
        'Focuses on the packaging requirements of goods in transit, in particular for items traveling overland by road or rail.')
      .col-xs-12.col-md-6
        +servicesItem('4-3.jpg',
        'Категория 4',
        'Focuses on the packaging requirements of goods in transit, in particular for items traveling overland by road or rail.')
      .col-xs-12.col-md-6
        +servicesItem('3-3.jpg',
        'Категория 5',
        'Focuses on the packaging requirements of goods in transit, in particular for items traveling overland by road or rail.')
      .col-xs-12.col-md-6
        +servicesItem('2-3.jpg',
        'Категория 6',
        'Focuses on the packaging requirements of goods in transit, in particular for items traveling overland by road or rail.')
+b.SECTION.promo-services
  .container
      +e.H2.title As always… please let us know if there is anything else we could be doing to serve you better! thank you for your business and for your support!!
      +e.H3.subtitle Canava team