include ../abstracts/mixins/_staff-item.pug
include ../abstracts/bemto/bemto.pug

+b.white-bgr
  .container
    .row
      +b.SECTION.staff
        +e.H2.title Board of
          span director
        .row
          .col-xs-12.col-md-4
            +staffItem('t2.jpg',
            'John Doe',
            'CEO - Director',
            'Having accumulated knowledge & experience in many fields & having a record as a professional, friendly, honest, reliable & diligent…')
          .col-xs-12.col-md-4
            +staffItem('t1.jpg',
            'John Doe',
            'CEO - Director',
            'Having accumulated knowledge & experience in many fields & having a record as a professional, friendly, honest, reliable & diligent…')
          .col-xs-12.col-md-4
            +staffItem('t3.jpg',
            'Lonnie Radzinsky',
            'Accountant',
            'A charismatic individual who is not afraid of trying to achieve something that has seemed to be impossible to many.')
        +e.H2.title--second Meet our
          span staff
        .row
          .col-xs-12.col-md-4
            +staffItem('t6.jpg',
            'John Doe',
            'CEO - Director',
            'Having accumulated knowledge & experience in many fields & having a record as a professional, friendly, honest, reliable & diligent…')
          .col-xs-12.col-md-4
            +staffItem('t5.jpg',
            'John Doe',
            'CEO - Director',
            'Having accumulated knowledge & experience in many fields & having a record as a professional, friendly, honest, reliable & diligent…')
          .col-xs-12.col-md-4
            +staffItem('t4.jpg',
            'John Doe',
            'CEO - Director',
            'Having accumulated knowledge & experience in many fields & having a record as a professional, friendly, honest, reliable & diligent…')
      +b.ASIDE.news-meta
        +e.wrapper--black
          +e.A.servises-title(href="#") Сертификация
          +e.UL.servises-list
            +e.LI.servises-item
              a(href="#") — Сертификат ТР ТС
            +e.LI.servises-item
              a(href="#") — Декларация ТР ТС
            +e.LI.servises-item
              a(href="#") — Обязательная сертификация ГОСТ Р
            +e.LI.servises-item
              a(href="#") — Добровольная сертификация ГОСТ Р
          +e.A.servises-title(href="#") Разработка технической документации
          +e.A.servises-title(href="#") Роспотребнадзор
        +e.wrapper
          +e.H2.title Последние новости
          +e.A.sub-title(href="#") Новость 1
          +e.P.time 25.03.2016
          +e.A.sub-title(href="#") Seafield logistics goes into administration
          +e.P.time 25.03.2016
          +e.A.sub-title(href="#") Transport managers grow scarce
          +e.P.time 25.03.2016
        +e.wrapper--blue
          +e.H3.question How can we help you?
          +e.P.text Our customer service standards provide information on how we will handle your enquiry. There is also compliments and complaints information to help you when you lodge feedback with us.
          +e.A.btn(href="#") contact us
            .fa.fa-chevron-right
