include ../abstracts/mixins/_stripe-logo.pug
include ../abstracts/bemto/bemto.pug

//Stripe logo
+b.SECTION.stripe-logo
  .container
    .row
      +stripeLogo("logo1.png")
      +stripeLogo("logo2.png")
      +stripeLogo("logo3.png")
      +stripeLogo("logo4.png")
      +stripeLogo("logo5.png")
      +stripeLogo("logo6.png")
